{{#each this}}
  <li class="gallery__item">
    <h2><b>Назва пісні: {{name}}</b></h2>
    <h3><b>Автор: {{author}}</b></h3>
    <a href="{{link}}"><b>На ютубі</b></a>
    <img src="{{photo}}" alt="Фото" width="320" />
  </li>
{{/each}}